[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=loomis_head
X-Python-2-Compatible=false
Name=Loomis Head
Comment=Loomis head generator
